*{
    margin: 0;
    padding: 0;
}
.heading{
    font-size: 1.5cm;
}

body{
    background-color: #F1FFE7;
    text-align: center;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 10cm;
    width: 12cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5cm;
}

.box{
    height:3cm ;
    width: 3cm;
    border-radius: 0.2cm;
    box-shadow: 0 0 1rem rgba(11, 11, 11, 0.513);
    font-size: 2cm;
    background-color: #44CF6C;
    color: green;
}

.reset{
    padding: 0.2cm;
    font-size: 0.4cm;
    background-color: #A9FDAC;
    border-radius: 0.2cm;
}

.New{
    padding: 0.2cm;
    font-size: 0.4cm;
    background-color: #A9FDAC;
    border-radius: 0.2cm;
}

.winner{
    color: #056B1D;
    font-size: 2cm;
    height: 3cm;
}

.massage{
    color: #056B1D;
    height: 5cm;
}
.hide{
    display: none
}